
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.parent{

    height: 100vh;
    border: 20px solid black;
    display: flex;
}

.child1{

    width: 200px;
    height: 200px;
    background:green;
}

.child2{

    width: 200px;
    height: 200px;
    background: red;
}

.child3{
    width: 200px;
    height: 200px;
    background: yellow;
}