@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background:#08001b;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}

.con{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;

}

.con .card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.con:hover .card{
    opacity: 0.2;
}

.con .card:hover{
    opacity: 1;
}

.con .card::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background:rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.con .card .cardcon{
    padding: 30px;
    text-align: center;
}
.con .card .cardcon h2{
    position: absolute;
    right: 30px;
    font-size: 4em;
    color: #1779ff;
    font-weight:800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;

}

.con .card:hover .cardcon h2{
    opacity: 1;
    transform: translateY(-80px);

}

.con .card .cardcon h3{
    position:relative;
    font-size:1.5em ;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: .5s;
}
.con .card:hover .cardcon h3{
    opacity: 1;
}

.con .card .cardcon p{
    position:relative;
    display: block;
    margin-top: 10px;
    font-size:1em ;
    color: #fff;
    z-index: 2;
    font-weight: 300;
    /* text-align: start; */
    opacity: 0.5;
    letter-spacing: 1px;
    transition: .5s;
}
.con .card:hover .cardcon p{
    opacity: 1;
}

.con .card .cardcon a{
    display: inline-block;
    margin-top :20px;
    padding: 8px 15px;
    text-decoration: none;
    background: #fff;
    color: #0c002b;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
}

.con .card span{
    transition: .5s;
    opacity: 0;
}

.con .card:hover span{
    opacity: 1;
}

.con .card span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 3px;
    background:linear-gradient(to right,transparent,#1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}
.con .card span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width:3px;
    height: 100%;
    background:linear-gradient(to bottom,transparent,#1779ff);
    animation:animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.con .card span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 3px;
    background:linear-gradient(to left,transparent,#1779ff);
    animation:animate3 2s linear infinite;
    /* animation-delay: 1s; */
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.con .card span:nth-child(4)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width:3px;
    height: 100%;
    background:linear-gradient(to top,transparent,#1779ff);
    animation:animate4 2s linear infinite;
    animation-delay:1s;
}

@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}