

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{

    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 8%;
   
}

.navbar{

    width: 100%;
    display: flex;
    align-items: center;
}

.logo{

    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.icon_logo{

    width: 25px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    /* transition: all 50s ease 0s; */
}

nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

nav ul li a:hover{

    color:#ff4646;
    border-style: none;
    border: 1px solid #ff4646;
    border-radius:40px;
    color: #f05454;
    padding: 6px;
    box-shadow: 0px 3px 5px;
}

.row{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{

    position: relative;
    flex-basis: 40%;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
        font-size: 16px;
        color: #b7b7b7;
        font-weight: 100;
}

.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

button{

    width: 140px;
    border: none;
    color: #fff;
    padding: 12px 10px;
    outline: none;
    background: linear-gradient(to right,#fb5283,#ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img{
    width: 30px;
    display: none;
}

button img:hover {
    display: flex;
    color: aqua;
}

button:hover{

    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background:  linear-gradient(#fb469f,#ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.controller{
    width:90%;

}
.color-box{
    position:absolute;
    right: 0;
    top: 0;
    background:linear-gradient(#fb469f,#ff6062);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}